*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body,
html,
#root {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* transition: background 0.2s ease, color 0.2s ease; */
  /* overflow: hidden; */
}

button {
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
}

input {
  border-radius: 10px;
  outline: none;
  border: none;
}

.svg {
  position: relative;
  width: 100%;
  height: auto;
}

.svg > svg {
  width: 100%;
  height: auto;
}

input[type='checkbox'].toggleInput {
  width: 40px;
  height: 16px;
  background: #455978;
  position: relative;
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;
}
